* {
  margin: 0;
  padding: 0;
}

body{
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 500;
  width:100%;
  height:100%;
}

header{
  margin-left: 50px;
  margin-top: 50px;
}

.logo{
  max-width: 150px;
}

nav{
  display: inline-block;
  margin-left: 90px;
  margin-right: 90px;
  padding-top: 75px;
  padding-bottom: 75px;
  max-width: 160px;
}

nav ul{
    list-style-type: none;
    line-height: 6em;
}

nav li a{
  text-decoration: none;
  font-weight: 700;
  font-size: 2em;
}

.light{
  color: #BDBDBD;
}

.dark{
  color: #7C7C7C;
}

h1 {
  display: inline-block;
  font-family: orpheuspro, serif;
  font-weight: 700;
  font-size: 6em;
  font-style: normal;
  line-height: 1.3em;
  color: #8BA878;
  max-width: 850px;
  margin-left: 50px;
}

.content{
  display: inline-block;
  max-width: 1000px;
  margin-left: 100px;
  vertical-align: top;
}

h2{
  font-family: orpheuspro, serif;
  font-weight: 700;
  font-size: 3em;
  font-style: normal;
  line-height: 1.3em;
  color: #8BA878;
  margin-top: 30px;
}

.intro{
  font-size: 1.2em;
  font-style: normal;
  line-height: 1.3em;
  color: #7C7C7C;
  margin-top: 50px;
}

.resume{
  font-size: 1.2em;
  font-style: normal;
  line-height: 1.3em;
  color: #8BA878;
  margin-top: 50px;
}

.DLbtn{
  color: #8BA878;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 3px solid #8BA878;
}

.time{
  margin-top: 50px;
  font-size: 1.2em;
}

.time li{
  list-style-type: none;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 50px;
}

.dropbtn{
  margin-left: 90px;
  display: inline-block;
  font-weight: 700;
  font-size: 2em;
  background-color: Transparent;
  border: none;
  color: #7C7C7C;
}

.contact-method a:hover {color: #8BA878;}

.contact:hover .contact-method {display: inline-block;}

.contact:hover .dropbtn {color: #8BA878;}

.contact{
  position: absolute;
  display: inline-block;
}

.contact-method{
  display: none;
  position: relative;
  background-color: Transparent;
  min-width: 160px;
  z-index: 1;
}

.contact-method a {
  color: #8BA878;
  font-size: 2em;
  font-weight: 700;
  padding-left: 0.5em;
  text-decoration: none;
  display: inline-block;
}

footer p{
  position: relative;
  margin-top: 0.6em;
  margin-right: 90px;
  display: inline-block;
  font-size: 1em;
  float: right;
  color: #7C7C7C;
}
